.header {
    width: 90%;
    height: auto;
}

.header .logo {
    width: clamp(38.5px, 17.99028vw, 154px);
    height: clamp(26.635px, 12.4460028vw, 106.54px)
}

.visible {
    display: block;
}

.hidden {
    display: none;
}