@import "../../../styles//variables.scss";

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__content {
    width: 90%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: auto;
    margin-top: clamp(32px, 14.95296vw, 128px);
  }
  &__span {
    color: $green;
  }
  &__first {
    text-align: center;
    color: $dark;
  }
  &__second {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: clamp(9px, 4.20552vw, 36px);
    text-align: center;
    line-height: clamp(13.5px, 6.30828vw, 54px);
    margin-top: clamp(16px, 7.47648vw, 64px);
  }
  &__train {
    width: clamp(214px, 99.99792vw, 856px);
    height: clamp(134px, 62.61552vw, 536px);
    margin-top: clamp(32px, 14.95296vw, 128px);
  }
}
