@import '../../../styles/variables.scss';

.quest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        margin-top: clamp(32px, 14.95296vw, 128px);
        color: $dark;
        font-family: "Rubik", sans-serif;
        margin-top: clamp(16px, 7.47648vw, 64px);
        font-weight: 600;
        font-size: clamp(21px, 9.81288vw, 84px);
        line-height: clamp(25px, 11.681999999999999vw, 100px);
        width: 90%;
        text-align: center;

    }

    &__par {
        font-family: "Open Sans", sans-serif;
        line-height: clamp(12.895px, 6.0255756vw, 51.58px);
        color: $dark;
        text-align: center;
        width: 90%;
        margin-top: clamp(8px, 3.73824vw, 32px);
        font-size: clamp(8px, 3.73824vw, 32px);
        margin-bottom: clamp(16px, 7.47648vw, 64px);
    }
}