@import "../../../styles/variables.scss";

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(16px, 7.47648vw, 64px);
  &__item {
    background-color: $white2;
    border: none;
    border: 3px solid $green;
    padding: clamp(7px, 3.2709599999999996vw, 28px);
    padding-left: clamp(42.5px, 19.859399999999997vw, 170px);
    padding-right: clamp(42.5px, 19.859399999999997vw, 170px);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: clamp(10px, 4.6728vw, 40px);
    text-align: center;
    transition: 0.3s ease;
  }
  &__text {
    color: $green;
  }
}

.buttons__item:hover {
  background-color: $green;
}

.buttons__text:hover {
  color: $white2;
}
