@import "../../styles/variables.scss";

.advant {
  margin: auto;
  margin-top: clamp(32px, 14.95296vw, 128px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__text {
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: clamp(9.5px, 4.439159999999999vw, 38px);
    width: 80%;
    position: absolute;
    top: clamp(20px, 9.3456vw, 80px);
    line-height: clamp(15.31px, 7.1540568vw, 61.24px);
  }



  &__img {
    width: clamp(195px, 91.11959999999999vw, 780px);
    height: clamp(107.23px, 50.1064344vw, 428.92px);
  }
}

@media screen and (min-width: 1024px) {
  .advant {
    position: relative;

    &__text {
      width: 70%;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: clamp(9.5px, 0.9895200000000001vw, 38px);
      line-height: clamp(16.12px, 1.6790592000000002vw, 64.48px);
      position: absolute;
      top: 25px;
    }

    &__img {
      width: clamp(200px, 20.832vw, 800px);
      height: clamp(90px, 9.3744vw, 360px);
    }
  }
}