@import "../../styles/variables.scss";

.advant {
  margin: auto;
  margin-top: clamp(32px, 14.95296vw, 128px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  &__text {
    color: $white;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: clamp(9.5px, 4.439159999999999vw, 38px);
    width: 80%;
    position: absolute;
    top: clamp(20px, 9.3456vw, 80px);
    line-height: clamp(15.31px, 7.1540568vw, 61.24px);
  }
  &__img {
    width: clamp(195px, 91.11959999999999vw, 780px);
    height: clamp(107.23px, 50.1064344vw, 428.92px);
  }
}
